*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #fff;
}

.navbar_brand{
    width: 70px;
    height: 70px;
}

.navbar_logo{
    width: 100%;
    height: 100%;
}

.button_primary{
    background-image: linear-gradient(
        to right,#ff512f 0%,#dd2476 51%,#ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
}

/*To leave some space on the right of button so it cant touch the browser border*/
.navbar_items{
    margin-right: 10px;
}

.button_primary:hover{
    border: 2px solid #ff6767;
    cursor: pointer;
}

.container{
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.hero_image_container{
    width: 100%;
}

.hero_image{
    width:100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0/25%) ;
}
.hero_text{
    font-weight: 800;
    font-size: 30px;
    margin: 20px 0;
    color: #1d3557;
}

.food_card{
    background-color: #f9f9f9;
    margin-bottom: 10px;
    width: 100%;
}

.food_card_description{
    padding: 15px;
}

.food_card_image_container{
    width: 100%;
}

.food_image{
    width: 100%;
    border-radius: 8px 0 8px 0;

}

.explore_menu_text{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    color: #1d3557;
    font-weight: 800;
}
.explore_menu_list{
    width: 100%;
}

.food_list_view_more{
    text-align: center;
    font-size: 20px;
    color: #1d3557;
}
@media (min-width: 768px) {
    .navbar{
        padding: 10px 0px;
    }

    .navbar_nav_items{
        margin-right: 30px;
    }  

    .hero_container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 20px;
    } 

    .explore_menu_list{
        display: flex;
        gap: 15px;
        margin-top: 45px;
        padding: 0 30px;
        
    } 
    

    #pizza_card{
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .explore_menu_container{
        position: relative;
    }

    .explore_menu_gradient_bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 110%;
        height: 100%;
        background-image: linear-gradient(
        to right,#ff512f 0%,#dd2476 51%,#ff512f 100%
    );
    z-index: -3;
    transform: skewY(-5deg);
    }

    .food_list_view_more{
        color: #ebf2ff;
    }
}

@media (min-width: 1024px) {
    .navbar_brand{
        width: 150px;
    }

    .button_primary{
        padding: 20px;
        font-size: 20px;
        font-weight: 600;
        border-radius:20px;
    }

    .hero_description{
        width: 100%;
    }

    .container{
        max-width: 70%;
    }

    .hero_text{
        font-size: 50px;
    }

    .explore_menu_list{
        gap:25px;
    }

    .explore_menu_text{
        font-size: 48px;
    }
}
